.VirtualizedSelectOption {
    background-color: #086971!important;
    color: #086971 !important;
}
.VirtualizedSelectFocusedOption {
    background-color: #086971 !important;
    color: #086971!important;
}