.VirtualizedSelectOption {
    background-color: #086971!important;
    color: #ffffff !important;
}
.VirtualizedSelectFocusedOption {
    background-color: #086971 !important;
    color: #ffffff!important;
}

#match-skills-button,
#exact-match-skills-button {
    background-color: #086971 !important;
    color: white !important;
    border-color: #086971 !important;
    box-shadow: none !important;
}

.Select-control {
    background-color: #086971 !important;
    color: white !important;
}

.Select-value-label {
    color: white !important;
}

.Select--multi .Select-value {
    outline: 1px solid white !important;
    color: white !important;
}
.Select--multi .Select-value-icon {
    fill: white !important;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    color: white !important;
}

.gp-bar-chart .gp-bar {
    fill: #086971 !important;
  }