/* Global styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex; /* this will make its children (content and image-container) sit side by side */
}

.content {
  width: 60%; /* adjust as needed */
}

.image-container {
  width: 40%; /* adjust as needed */
}

.image-right {
  width: 100%;   /* adjust as needed */
  height: auto; /* adjust as needed */
}


h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

button {
  background-color: #086971;;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #b61313;
}

/* Header styles */

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 60px;
  margin-right: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}


nav a:hover {
  color: #df1616;
}

/* Main styles */

main {
  background-image: url("static/images/bg-pattern.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 60px 0;
}

.image-right {
  max-height: 5000px;  /* adjust as needed */
  max-width: 2000px;   /* adjust as needed */
}

/* Footer styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 20px;
    padding: 8px 16px;
  }

  nav img {
    height: 40px;
  }

  nav ul {
    flex-direction:

    