<!DOCTYPE html>
<html>
  <head>
    <title>Skillflair</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="image-container-top">
      <img src="{{url_for('static', filename='img/skillflair.PNG')}}" alt="Logo", class="image-top-left">
    </div>
    <main>
  
      <div class="container">
        <div class="content">
          <h1 style="color: #086971;">Finding the right skill is now as easy as Ctrl+F for your workforce!</h1>
          <p style="color: #086971;" >Search for your dream job and discovering the top in-demand skills with our job search platform. 
          Simply enter your job preferences and explore the opportunities that match your skills and interests</p>
          <form action="/dash/"><form action="/dash/">
            <button type="submit">Start your search</button>
          </form>
          <form action="/about"><form action="/about/">
            <button type="submit">About</button>
          </form>
        </div>
        
        <div class="image-container">
          <img src="{{ image_path2 }}" class="image-right">
        </div>
      </div>
    </main>
  </body>
</html>
