<!DOCTYPE html>
<html>
    <header>Welcome to a very early proof of concept</header>
        <head>
            <link rel="stylesheet" href="static\style\styles.css?v=2">
        </head>
            <body>
                <h1> Click on the button below to see the early prototype of our dash </h1>
                <form action ="/dash/">
                <p1>Click on this button</p1>
                    <button type="submit">To Dash</button>

                    </button> 
                </form>


            </body>
</html>